<h1>Edit Response</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.response_path(@conn, :update, @response.guid)) %>

<span><%= link "Back", to: Routes.survey_response_path(@conn, :index, @survey) %></span>
 