<h1>Show Trend</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @trend.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @trend.description |> Earmark.as_html! |> raw %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.trend_path(@conn, :edit, @trend) %></span>
<span><%= link "Back", to: Routes.trend_path(@conn, :index) %></span>
