<%= inputs_for @f, :survey_trends, fn st -> %>
  <div class="row">
    <div class="column column-90">
      <%= label st, :trend_id, "Trend", class: "control-label" %>
      <%= select st, :trend_id, Enum.map(@trends, &{&1.name, &1.id}), class: "form-control" %>
    </div>
  </div>
<% end %>
