<h2>Show Survey response</h2>

<ul>

  <li>
    <strong>Radar guid:</strong>
    <%= @survey_response.radar_guid %>
  </li>


</ul>

<span><%= link "Edit", to: survey_response_path(@conn, :edit, @survey_response) %></span>