@import "../../../css/fonts";
@import "../colors";

.DetailedView {
  min-width: 500px;
  max-height: 100%;
  background-color: $white;
  color: $dark-text-color;

  overflow: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($axis-color, 0.7);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent
  }

}

.DetailedView--hidden {
  visibility: hidden;
}

.DetailedViewContainer {
  display: flex;
  flex-direction: column;
}

.DetailedView__top {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 70px;
  padding-left: 70px;
}

.DetailedView__title {
  font-size: 36px;
  line-height: 46px;
  @include font-light;
}

.DetailedView__description {
  font-size: 18px;
  line-height: 26px;
  opacity: .7;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 300;
}

.DetailedView__highlights-box {
  border-radius: 3px;
  background-color: $light-background-color;
  display: flex;
  border: 1px solid #B4BFC5;
  margin-top: 13px;
  margin-bottom: 13px;
  padding: 15px;
  align-items: center;
}

.DetailedView__highlights {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  flex: 1;
}

.DetailedView__highlights--emphasized {
  @include font-bold
}

.DetailedView__distributions {
  margin-top: 30px;
}
.DetailedView__responses {
  border-top: 2px solid rgba($background-color, 0.15);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 70px;
  padding-left: 70px;
}